@media (min-width: 1320px) and (max-width: 1920px) {
  /* line 4, ../sass/media.scss */
  .requests_list {
    width: 100%;
  }
  .table_monitoring_wrap .table .table_header .project {
    flex-grow: 1;
  }

  /* line 15, ../sass/media.scss */
  .table_monitoring_wrap {
    width: 100%;
    overflow-x: scroll;
  }
  main.project_list{
    width:100%;
  }
  .table_monitoring_wrap .table .table_line .project .project_name_wrap{
    width: 100%;
  }

}
@media (max-width: 1199px) {
  /* line 22, ../sass/media.scss */
  main {
    max-width: 970px;
  }
  .wrap_filter{
    max-width: 970px;
  }
  /* line 25, ../sass/media.scss */
  main .filter.open {
    height: 330px;
  }
  /* line 28, ../sass/media.scss */
  main .filter .filter_block {
    width: 49%;
    margin: 0;
  }
  /* line 31, ../sass/media.scss */
  main .filter .filter_block .success {
    margin: 10px 0;
  }
  /* line 34, ../sass/media.scss */
  main .filter .filter_block.optimize {
    border: none;
  }
  /* line 38, ../sass/media.scss */
  main .filter form {
    display: block;
  }

  /* line 44, ../sass/media.scss */
  .group_filter .select2-container {
    width: 450px !important;
  }

  /* line 49, ../sass/media.scss */
  .table .top_100, .table .day_1, .table .day_2, .table .day_3, .table .day_4, .table .day_5, .table .day_6, .table .rrs, .table .placed, .table .performer, .table .position {
    display: none !important;
  }
  /* line 52, ../sass/media.scss */
  .table .r_top_100, .table .r_placed, .table .r_performer {
    display: flex !important;
  }
  /* line 55, ../sass/media.scss */
  .table .internal_optimization, .table .rrs {
    flex-grow: 1;
  }
  /* line 61, ../sass/media.scss */
  .table .table_line .project .open_hidden_table {
    display: block;
  }

  /* line 67, ../sass/media.scss */
  body.query_selection .table .table_line .project {
    padding-right: 35px;
  }

  /* line 71, ../sass/media.scss */
  .poject_list .table {
    min-width: 100%;
  }
  /* line 73, ../sass/media.scss */
  .poject_list .table .plan_work {
    width: auto;
  }
  /* line 76, ../sass/media.scss */
  .poject_list .table .r_rrs {
    display: flex !important;
  }

  /* line 81, ../sass/media.scss */
  .table_monitoring_wrap {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 84, ../sass/media.scss */
  .table_monitoring_wrap .table {
    min-width: inherit;
  }
  /* line 86, ../sass/media.scss */
  .table_monitoring_wrap .table .plan_work {
    width: auto;
  }
  /* line 89, ../sass/media.scss */
  .table_monitoring_wrap .table .r_day_1, .table_monitoring_wrap .table .r_day_2, .table_monitoring_wrap .table .r_day_3, .table_monitoring_wrap .table .r_day_4, .table_monitoring_wrap .table .r_day_5, .table_monitoring_wrap .table .r_day_6, .table_monitoring_wrap .table .r_rrs {
    display: flex !important;
  }
  /* line 92, ../sass/media.scss */
  .table_monitoring_wrap .table .r_rrs {
    width: 100%;
  }

  /* line 97, ../sass/media.scss */
  .create_sitemaps .table .table_line .project {
    width: 10px;
  }

  /* line 100, ../sass/media.scss */
  .create_sitemaps .filter.open {
    height: 330px;
  }

  /* line 103, ../sass/media.scss */
  .seo_texts .group-filter {
    flex-wrap: wrap;
  }

  /* line 107, ../sass/media.scss */
  header .statistic_diagram {
    width: 100%;
    text-align: center;
    position: static;
    margin-bottom: 35px;
  }
}
@media (min-width: 1199px){
.project_list .table {
min-width: 1255px;
}
  .project_list .table .plan_work {
    width: auto;
  }
}

@media (max-width: 992px) {
  /* line 117, ../sass/media.scss */
  header {
    height: auto;
    padding-bottom: 35px;
  }
  /* line 120, ../sass/media.scss */
  header .logo {
    text-align: center;
  }
  /* line 124, ../sass/media.scss */
  header .navigation {
    text-align: center;
  }

  /* line 128, ../sass/media.scss */
  main {
    max-width: 750px;
  }
  .wrap_filter{
    max-width: 750px;
  }
  /* line 131, ../sass/media.scss */
  main .filter.open {
    height: 350px;
  }
  /* line 134, ../sass/media.scss */
  main .filter .filter_block {
    height: auto;
  }

  /* line 140, ../sass/media.scss */
  .group_filter .select2-container {
    width: 350px !important;
  }

  /* line 144, ../sass/media.scss */
  .create_sitemaps .select_wrap .custom_select, .create_sitemaps .select_wrap .custom_input {
    width: 40%;
    margin-bottom: 10px;
  }

  /* line 148, ../sass/media.scss */
  .create_sitemaps .select_wrap {
    flex-wrap: wrap;
  }

  /* line 152, ../sass/media.scss */
  .table .top_10, .table .amount, .table .growth, .table .manager, .table .button_switch, .table .date, .table .copyrighter, .table .requests, .table .change, .table .seo_text {
    display: none !important;
  }
  /* line 155, ../sass/media.scss */
  .table .r_top_10, .table .r_amount, .table .r_growth, .table .r_manager, .table .r_button_switch, .table .r_date, .table .r_copyrighter, .table .r_requests, .table .r_change, .table .r_seo_text {
    display: flex !important;
  }
  /* line 158, ../sass/media.scss */
  .table .search_requests {
    width: 90px;
  }
  /* line 161, ../sass/media.scss */
  .table .plan_work {
    width: auto;
  }
  /* line 163, ../sass/media.scss */
  .table .plan_work .internal_optimization {
    width: auto;
  }
  /* line 166, ../sass/media.scss */
  .table .plan_work .external_promotion {
    width: auto;
  }

  /* line 173, ../sass/media.scss */
  .table_monitoring_wrap .table .plan_work, .table_monitoring_wrap .table .internal_optimization, .table_monitoring_wrap .table .external_promotion {
    display: none !important;
  }
  /* line 176, ../sass/media.scss */
  .table_monitoring_wrap .table .r_internal_optimization, .table_monitoring_wrap .table .r_external_promotion {
    display: flex !important;
  }

  /* line 182, ../sass/media.scss */
  body.query_selection .project_line {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 185, ../sass/media.scss */
  body.query_selection .project_line .selection_project {
    margin-bottom: 20px;
  }
  /* line 189, ../sass/media.scss */
  body.query_selection .setting_project_line {
    justify-content: space-around;
  }
  /* line 191, ../sass/media.scss */
  body.query_selection .setting_project_line .custom_select {
    margin: 10px;
  }
  /* line 195, ../sass/media.scss */
  body.query_selection .button_block, body.query_selection .button_bottom_block {
    justify-content: space-around;
  }

  /* line 199, ../sass/media.scss */
  .seo_texts .text_block {
    flex-wrap: wrap;
  }
  /* line 201, ../sass/media.scss */
  .seo_texts .text_block .text_input {
    margin-right: 0;
    margin-bottom: 30px;
  }
  /* line 204, ../sass/media.scss */
  .seo_texts .text_block .text_input:after {
    right: 5px;
    left: 5px;
    top: auto;
    bottom: -15px;
    width: auto;
    height: 1px;
  }

  /* line 214, ../sass/media.scss */
  .table .plan_work .work_wrap {
    height: 40px;
  }

  /* line 217, ../sass/media.scss */
  .table .search_requests .search_wrap {
    height: 40px;
  }
}
@media (max-width: 768px) {
  /* line 223, ../sass/media.scss */
  header .navigation {
    margin: 15px;
  }

  /* line 227, ../sass/media.scss */
  .group_filter {
    display: block;
  }
  /* line 229, ../sass/media.scss */
  .group_filter .select2-container {
    width: auto;
  }

  /* line 234, ../sass/media.scss */
  .seo_texts input {
    width: 100%;
  }
  /* line 237, ../sass/media.scss */
  .seo_texts .input_wrap {
    width: 100%;
    margin-right: 0;
  }
  /* line 241, ../sass/media.scss */
  .seo_texts .select_wrap {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 247, ../sass/media.scss */
  main {
    width: 100%;
  }
  .wrap_filter{
    max-width: 100%;
  }
  /* line 251, ../sass/media.scss */
  .table .external_promotion, .table .group, .table .table_requests, .table .requests_input {
    display: none !important;
  }
  /* line 254, ../sass/media.scss */
  .table .r_external_promotion, .table .r_group, .table .r_table_requests, .table .r_requests_input {
    display: flex !important;
  }

  /* line 259, ../sass/media.scss */
  .popup_edit.link_edit {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 267, ../sass/media.scss */
  .popup_edit.link_edit.open {
    position: fixed;
  }
}
@media (max-width: 660px) {
  /* line 275, ../sass/media.scss */
  .table .duration, .table .query_switch, .table .article_head {
    display: none !important;
  }
  /* line 278, ../sass/media.scss */
  .table .r_duration, .table .r_query_switch, .table .r_article_head {
    display: flex !important;
  }
}
@media (max-width: 640px) {
  /* line 287, ../sass/media.scss */
  main {
    text-align: center;
  }
  /* line 289, ../sass/media.scss */
  main .filter {
    margin-top: 35px;
  }
  /* line 291, ../sass/media.scss */
  main .filter.open {
    height: 660px !important;
  }
  /* line 294, ../sass/media.scss */
  main .filter .filter_block {
    width: 100%;
    border: none;
  }
  /* line 299, ../sass/media.scss */
  main .open_filter {
    top: 0;
    margin-top: 0;
  }

  /* line 304, ../sass/media.scss */
  main .filter .filter_block .success {
    margin: 10px auto;
  }

  /* line 308, ../sass/media.scss */
  .table .pagination {
    float: left;
  }
  /* line 311, ../sass/media.scss */
  .table .internal_optimization, .table .plan_work, .table .articles, .table .in_work, .table .link_input, .table .article, .table .editing {
    display: none !important;
  }
  /* line 314, ../sass/media.scss */
  .table .r_internal_optimization, .table .r_articles, .table .r_in_work, .table .r_link_input, .table .r_article, .table .r_editing {
    display: flex !important;
  }

  /* line 320, ../sass/media.scss */
  .tabs nav {
    margin-top: 20px;
  }

  /* line 326, ../sass/media.scss */
  .table_monitoring_wrap .table .month_request {
    display: none !important;
  }
  /* line 329, ../sass/media.scss */
  .table_monitoring_wrap .table .r_month_request {
    display: flex !important;
  }

  /* line 335, ../sass/media.scss */
  body.query_selection .sitemap_select {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* line 338, ../sass/media.scss */
  body.query_selection .sitemap_select .custom_select {
    display: block;
  }
  /* line 340, ../sass/media.scss */
  body.query_selection .sitemap_select .custom_select label {
    margin-left: 0;
    margin-top: 10px;
  }

  /* line 347, ../sass/media.scss */
  body.query_selection .project_line .select_wrap .select2-container--default .select2-selection--single {
    width: 290px;
    margin: 5px auto;
  }
}
@media (max-width: 565px) {
  /* line 355, ../sass/media.scss */
  .create_sitemaps h2 {
    font-size: 23px;
  }
  /* line 358, ../sass/media.scss */
  .create_sitemaps .open_filter {
    top: 80px;
  }

  /* line 362, ../sass/media.scss */
  .seo_texts .select_wrap {
    flex-wrap: wrap;
  }

  /* line 365, ../sass/media.scss */
  .seo_texts .select_wrap .custom_select:first-child {
    padding: 0;
  }
}
@media (max-width: 500px) {
  /* line 371, ../sass/media.scss */
  .table .table_header {
    height: 50px;
  }
  /* line 374, ../sass/media.scss */
  .table .search_requests, .table .top_5, .table .search_wrap, .table .day_7, .table .day_8, .table .day_9, .table .position, .table .analysis, .table .tested, .table .delete_table_line, .table .control_button, .table .keyword {
    display: none !important;
  }
  /* line 377, ../sass/media.scss */
  .table .r_top_5, .table .r_audit, .table .r_analysis, .table .r_tested, .table .r_delete_table_line, .table .r_control_button, .table .r_keyword {
    display: flex !important;
  }

  /* line 381, ../sass/media.scss */
  .audit_tooltip {
    position: fixed;
    z-index: 100;
    top: calc(50% - 106px) !important;
    left: calc(50% - 80px) !important;
  }

  /* line 389, ../sass/media.scss */
  .table_monitoring_wrap .table .project {
    width: 100%;
  }
  /* line 392, ../sass/media.scss */
  .table_monitoring_wrap .table .r_audit, .table_monitoring_wrap .table .r_day_7, .table_monitoring_wrap .table .r_day_8, .table_monitoring_wrap .table .r_day_9 {
    display: flex !important;
  }

  /* line 399, ../sass/media.scss */
  body.query_selection .button_bottom_block button {
    width: 200px;
  }
  /* line 404, ../sass/media.scss */
  body.query_selection .button_block button {
    width: 200px;
  }
  /* line 408, ../sass/media.scss */
  body.query_selection .button_block .turn_all:after {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 416, ../sass/media.scss */
  body {
    font-size: 12px;
  }

  /* line 421, ../sass/media.scss */
  .table .table_line .responsive_table {
    top: 20px;
    left: 0;
  }

  /* line 427, ../sass/media.scss */
  .GaugeMeter {
    margin-right: 0;
  }

  /* line 433, ../sass/media.scss */
  .tabs nav li a {
    padding: 9px;
  }

  /* line 440, ../sass/media.scss */
  .group_filter .select2-container {
    width: 260px !important;
  }

  /* line 445, ../sass/media.scss */
  .popup_edit.link_edit {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 453, ../sass/media.scss */
  .popup_edit.link_edit.open {
    position: fixed;
  }
  /* line 457, ../sass/media.scss */
  .popup_edit.plan_work {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 465, ../sass/media.scss */
  .popup_edit.plan_work.open {
    position: fixed;
  }
  /* line 469, ../sass/media.scss */
  .popup_edit.status_work_edit {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 477, ../sass/media.scss */
  .popup_edit.status_work_edit.open {
    position: fixed;
  }
  /* line 482, ../sass/media.scss */
  .popup_edit.project.open {
    top: 0;
    overflow: scroll;
  }
  /* line 487, ../sass/media.scss */
  .popup_edit.rrs {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 495, ../sass/media.scss */
  .popup_edit.rrs.open {
    position: fixed;
  }
  /* line 500, ../sass/media.scss */
  .popup_edit.external_promotion.open {
    top: 0;
    height: 100%;
    max-height: 600px;
    overflow: scroll;
  }
  /* line 506, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body {
    text-align: center;
  }
  /* line 508, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body input {
    width: 100%;
  }
  /* line 511, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body .add_link {
    margin-top: 10px;
  }
  /* line 515, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body .link_list li {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    border-top: 1px solid #ededed;
  }
  /* line 521, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body .link_list .link {
    width: 85%;
    border-right: none;
  }
  /* line 525, ../sass/media.scss */
  .popup_edit.external_promotion .tooltip_body .link_list .date {
    margin-top: 5px;
  }

  /* line 533, ../sass/media.scss */
  .seo_texts .input_wrap {
    display: block;
  }
  /* line 536, ../sass/media.scss */
  .seo_texts .input_wrap .group-filter:first-child {
    padding-right: 0px;
  }
  /* line 541, ../sass/media.scss */
  .seo_texts .select_wrap {
    display: block;
  }
  /* line 544, ../sass/media.scss */
  .seo_texts .select_wrap .custom_select:first-child {
    padding-right: 0;
  }

  /* line 550, ../sass/media.scss */
  main .filter .status_block input[type=date] {
    width: 90px;
  }
}
@media (max-width: 400px) {
  /* line 556, ../sass/media.scss */
  .table .status, .table .group_input, .table .query, .table .edits {
    display: none !important;
  }
  /* line 559, ../sass/media.scss */
  .table .r_status, .table .r_group_input, .table .r_query, .table .r_edits {
    display: flex !important;
  }

  /* line 565, ../sass/media.scss */
  header .statistic_diagram .chart {
    display: block;
    margin: 30px auto;
  }

  /* line 573, ../sass/media.scss */
  body.query_selection .custom_select {
    display: block;
  }
  /* line 575, ../sass/media.scss */
  body.query_selection .custom_select label {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 580, ../sass/media.scss */
  body.query_selection .custom_select.country .select2-container--default .select2-selection--single {
    width: 100%;
  }
  /* line 585, ../sass/media.scss */
  body.query_selection .custom_select.deep .select2-container--default .select2-selection--single {
    max-width: 100%;
  }
  /* line 591, ../sass/media.scss */
  body.query_selection .setting_project_line .custom_select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  /* line 598, ../sass/media.scss */
  #page-content {
    padding: 0;
  }

  /* line 601, ../sass/media.scss */
  main {
    padding: 17px 10px 20px;
  }
}
@media (max-width: 330px) {
  /* line 606, ../sass/media.scss */
  .GaugeMeter {
    margin-right: -5px;
  }
}
