@media (min-width: 1420px) and (max-width: 1920px) {

  body.monitoring{
    //.container{
    //  width: 1400px;
    //  margin: 0 auto;
    //}
    .container{
      width: 94%;
    }
    .table{
      .table_header{
        justify-content: center;
      }
      .table_line{
        justify-content: center;
      }
    }
  }
  .table_monitoring_wrap {
    width: 100%;
    overflow-x: scroll;
  }
}

@media (max-width: 1199px) {
  main {
    .filter {
      &.open {
        height: 330px;
      }
      .filter_block {
        width: 49%;
        &.optimize {
          border: none;
        }
      }
      form{
        display: block;
      }
    }
  }
  .group_filter{
    .select2-container{
      width: 450px !important;
    }
  }
  .table{
    .top_100, .day_1, .day_2, .day_3, .day_4, .day_5, .day_6, .rrs,.placed ,.performer {
      display: none !important;
    }
    .r_top_100, .r_placed, .r_performer{
      display: flex!important;
    }
    .internal_optimization, .rrs {
      flex-grow: 1;
    }
    .table_line{
      .project{

        .open_hidden_table{
          display: block;
        }
      }
    }
  }
  body.query_selection .table .table_line .project{
    padding-right:35px;
  }
  .poject_list{
    .table{
      min-width: 100%;
      .plan_work {
        width: auto;
      }
      .r_rrs{
        display: flex !important;
      }
    }
  }
  .table_monitoring_wrap {
     width: 100%;
     overflow-x: hidden;
      .table{
       min-width: inherit;
        .plan_work {
          width: auto;
        }
        .r_day_1, .r_day_2, .r_day_3, .r_day_4, .r_day_5, .r_day_6, .r_rrs{
          display: flex !important;
        }
        .r_rrs{
          width:100%;
        }
      }
   }
  .create_sitemaps .table .table_line .project {
    width: 10px;
  }
  .create_sitemaps .filter.open{
    height: 330px;
  }
  .seo_texts .group-filter{
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  header{
    height: auto;
    padding-bottom: 35px;
    .logo{
      text-align: center;
    }
    .statistic_diagram{
      width:100%;
      text-align: center;
      position: relative;
    }
    .navigation{
      text-align: center;
    }
  }
  main{
    .filter{
      &.open{
        height: 350px;
      }
      .filter_block{
        height: auto;
      }
    }
  }
  .group_filter{
    .select2-container{
      width: 350px !important;
    }
  }
  .create_sitemaps .select_wrap .custom_select, .create_sitemaps .select_wrap .custom_input{
    width:40%;
    margin-bottom:10px;
  }
  .create_sitemaps .select_wrap {
    flex-wrap: wrap;
  }
  .table{
    .top_10,.amount, .growth, .manager, .button_switch, .date, .copyrighter, .requests, .change, .seo_text {
      display: none !important;
    }
    .r_top_10, .r_amount, .r_growth, .r_manager, .r_button_switch, .r_date, .r_copyrighter, .r_requests, .r_change, .r_seo_text {
      display: flex !important;
    }
    .search_requests {
      width: 90px;
    }
    .plan_work{
      width: auto;
      .internal_optimization{
        width: auto;
      }
      .external_promotion{
        width: auto;
      }
    }
  }
  .table_monitoring_wrap {
    .table{
      .plan_work, .internal_optimization, .external_promotion{
        display: none !important;
      }
      .r_internal_optimization, .r_external_promotion{
        display: flex !important;
      }
    }
  }
  body.query_selection{
    .project_line{
      justify-content: space-around;
      flex-wrap: wrap;
      .selection_project{
        margin-bottom:20px;
      }
    }
    .setting_project_line{
      justify-content: space-around;
      .custom_select{
        margin:10px;
      }
    }
    .button_block, .button_bottom_block{
      justify-content: space-around;
    }
  }
  .seo_texts .text_block{
    flex-wrap: wrap;
    .text_input{
      margin-right:0;
      margin-bottom:30px;
      &:after{
        right: 5px;
        left:5px;
        top: auto;
        bottom:-15px;
        width:auto;
        height:1px;
      }
    }
  }
}
@media (max-width: 768px) {
  header{
    .navigation{
      margin: 15px;
    }
  }
  .group_filter{
    display: block;
    .select2-container{
      width:auto;
    }
  }
  .seo_texts{
    input {
      width: 100%;
    }
    .input_wrap{
      width:100%;
      margin-right:0;
    }
    .select_wrap{
      width:100%;
    }
  }
}
@media (max-width: 767px) {
  .table{
    .external_promotion, .group, .table_requests, .requests_input {
      display: none !important;
    }
    .r_external_promotion,.r_group, .r_table_requests, .r_requests_input {
      display: flex !important;
    }
  }
}
@media (max-width: 660px) {
  .table{
    .duration, .query_switch, .article_head {
      display: none !important;
    }
    .r_duration, .r_query_switch, .r_article_head {
      display: flex !important;
    }
  }
}
@media (max-width: 640px) {
  header{

  }
  main {
    text-align: center;
    .filter {
      margin-top: 35px;
      &.open {
        height: 660px !important;
      }
      .filter_block {
        width: 100%;
        border: none;
      }
    }
    .open_filter{
      top: 0;
      margin-top:0;
    }
  }
  .table{
    .pagination{
      float: left;
    }
    .internal_optimization, .plan_work, .articles,.in_work, .link_input, .article, .editing {
      display: none !important;
    }
    .r_internal_optimization, .r_articles,.r_in_work, .r_link_input, .r_article, .r_editing {
      display: flex !important;
    }
  }

  .tabs{
    nav{
      margin-top: 20px;
    }
  }
  .table_monitoring_wrap {
    .table{
      .month_request{
        display: none !important;
      }
      .r_month_request{
        display: flex !important;
      }
    }
  }
  body.query_selection{
    .sitemap_select{
      flex-wrap: wrap;
      justify-content: space-around;
      .custom_select{
        display: block;
        label{
          margin-left:0;
          margin-top:10px;
        }
      }
    }
  }
  body.query_selection .project_line .select_wrap .select2-container--default .select2-selection--single{
    width: 290px;
    margin: 5px auto;
  }
}

@media (max-width: 565px) {
  .create_sitemaps{
    h2{
      font-size: 23px;
    }
    .open_filter{
      top:80px;
    }
  }
  .seo_texts .select_wrap{
    flex-wrap: wrap;
  }
  .seo_texts .select_wrap .custom_select:first-child{
    padding:0;
  }
}
@media (max-width: 500px) {
 .table{
   .table_header{
     height:50px;
   }
   .search_requests, .top_5, .search_wrap, .day_7, .day_8, .day_9, .position, .analysis, .tested, .delete_table_line, .control_button, .keyword {
     display: none !important;
   }
   .r_top_5, .r_audit,.r_analysis, .r_tested, .r_delete_table_line, .r_control_button, .r_keyword{
     display: flex !important;
   }
 }
  .audit_tooltip{
    position: fixed;
    z-index: 100;
    top: calc(50% - 106px) !important;
    left:calc(50% - 80px) !important;
  }
  .table_monitoring_wrap{
    .table{
      .project{
        width:100%;
      }
      .r_audit,.r_day_7, .r_day_8, .r_day_9{
        display: flex !important;
      }
    }
  }
  body.query_selection{
    .button_bottom_block{
      button{
        width:200px;
      }
    }
    .button_block{
      button{
        width:200px;
      }
      .turn_all{
        &:after{
          display: none;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body{
    font-size: 12px;
  }
  .table{
    .table_line{
      .responsive_table{
        top: 20px;
        left: 0;
      }
    }
  }
  .GaugeMeter{
    margin-right:0;
  }
  .tabs{
    nav{
      li{
        a{
          padding:9px;
        }
      }
    }
  }
  .group_filter{
    .select2-container{
      width: 260px !important;
    }
  }
  .popup_edit{
    &.plan_work{
      top: 50% !important;
      left: 50% !important;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &.open{
        position: fixed;
      }
    }
    &.status_work_edit{
      top: 50% !important;
      left: 50% !important;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &.open{
        position: fixed;
      }
    }
    &.project{
      &.open{
        top:0;
        overflow: scroll;
      }
    }
    &.rrs{
      top: 50% !important;
      left: 50% !important;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &.open{
        position: fixed;
      }
    }
    &.external_promotion{
      &.open{
        top:0;
        height: 100%;
        max-height: 600px;
        overflow: scroll;
      }
      .tooltip_body{
        text-align: center;
        input{
          width:100%;
        }
        .add_link{
          margin-top:10px;
        }
        .link_list{
          li{
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 30px;
            border-top:1px solid #ededed;
          }
          .link{
            width:85%;
            border-right: none;
          }
          .date{
            margin-top:5px;
          }
        }
      }
    }
  }
  .seo_texts{
    .input_wrap{
      display:block;
      .group-filter{
        &:first-child{
          padding-right:0px;
        }
      }
    }
    .select_wrap{
      display: block;
      .custom_select{
        &:first-child{
          padding-right:0;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .table{
    .status, .group_input, .query, .edits{
      display: none !important;
    }
    .r_status, .r_group_input, .r_query, .r_edits {
      display: flex !important;
    }
  }
  header{
    .statistic_diagram{
      .chart{
        display: block;
        margin:30px auto;

      }
    }
  }
  body.query_selection {
    .custom_select{
      display: block;
      label{
        margin-right:0;
        margin-bottom:10px;
      }
      &.country{
        .select2-container--default .select2-selection--single{
          width:100%;
        }
      }
      &.deep{
        .select2-container--default .select2-selection--single{
          max-width: 100%;
        }
      }
    }
    .setting_project_line{
      .custom_select{
        width:100%;
        margin: 0;
        margin-bottom:10px;
      }
    }
  }
}
@media (max-width: 330px) {
  .GaugeMeter {
    margin-right: -5px;
  }
}